body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

/* Navbar */
.navbar{
    height: 5rem;
}
.fa-battle-net{
    color:  #ff385c;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

/* Footer */
.f-info-links a{
    text-decoration: none;
    color: #000000;
}
.f-info-links a:hover{
    text-decoration: underline;
    
}
.f_info{
    text-align: center;
    height: 8rem;
    display: flex;
    background-color: aliceblue;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
.f-info-links , .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.f-info-socials i{
    margin-right:1rem;
    font-size: 1.5rem;
}

/* Index */
    .listing-card{
        border: none !important;
        
    }
    .card-img-top{
        height: 15rem;
        object-fit: cover !important;
        border-radius: 1rem !important ;
        width: 100% !important;
    }
    .card-body{
        padding: 0 !important;
    }
    .card-text{
        font-size: 400 !important;
    }
    .card-body a{
        text-decoration: none !important;
        color: #000000 !important;
    }
    .listing-link{
        text-decoration: none !important;
        color: #000000 !important;
    }

    /* Card Effect */

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.25;
    transition: all 0.3s ease-in-out;
    background-color: aliceblue;

}

/* New Form */
.add-btn{
    background-color: #ff385c !important;
    border: none !important;
}

/* Edit Form */ 
.edt-btn{
    color: aliceblue !important;
    background-color: #ff385c !important;
    border: none !important;
}

/* Show Page */
.show-img{
    height: 25rem;
    object-fit: cover !important;
    border-radius: 1rem !important ;
    width: 100% !important;
    margin-bottom: 2rem;
}

.btn-edit,.btn-delete, .btn-back{
    background-color: #ff385c !important;
    border: none !important;
}

/* map */
#map{
    height: 100px;
    width: 100%;
    margin-top: 2rem;
    border-radius: 1rem;
}